@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o4fyrn');
  src:  url('fonts/icomoon.eot?o4fyrn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o4fyrn') format('truetype'),
    url('fonts/icomoon.woff?o4fyrn') format('woff'),
    url('fonts/icomoon.svg?o4fyrn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-tags:before {
  content: "\e902";
}
.icon-basketball:before {
  content: "\e903";
}
.icon-umbrella:before {
  content: "\e904";
}

